Una *tupla numerica annidata* o *tna* è un numero (**int** o **float**) oppure una tupla tale che ogni suo elemento è una *tna*.

*Esempio*: 
> t = ( 3.14, (2,3), (2.71, (7, 5)), 9, (12, ( 4, )) )

è una *tna* in quanto *t* è una tupla contenente 3.14 che è un numero, (2,3) che è una *tna* in quanto la tupla (2,3) a sua volta contiene due numeri che sono *tna*...

Scrivere una funzione, chiamata *conta_elem_tna*(), che prende in input una *tna* e restituisce il numero totale di *float* ed *int* dentro la *tna*.

Ad esempio se *t* è la *tna* definita sopra

> conta_elem_tna(t)

deve ritornare 9

In [30]:
def conta_elem_tna( t ):
    '''
        Precondizione: t è una tna
        Restituisce il numero di elementi numerici di t
    '''
    if type(t) in (float, int): # t è un numero
        return 1
    else:
        c = 0
        for x in t:
            c += conta_elem_tna( x )
        return c

In [4]:
t = ( 3.14, (2,3), (2.71, (7, 5)), 9, (12, ( 4, )) )

In [5]:
conta_elem_tna(t)

9

In [6]:
t = (1, )

In [7]:
type(t)

tuple

In [8]:
conta_elem_tna(t)

1

In [9]:
t = 2.71

In [10]:
conta_elem_tna(t)

1

In [13]:
for x in ( 3.14, (2,3), (2.71, (7, 5)), 9, (12, ( 4, ))):
          print(type(x))

<class 'float'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [16]:
conta_elem_tna('s') == None

True

In [18]:
conta_elem_tna(('s',))

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [22]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [23]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [31]:
help(conta_elem_tna)

Help on function conta_elem_tna in module __main__:

conta_elem_tna(t)