# Soluzione esercizio

Si progetti ed implementi in Python una funzione denominata intersezione che prende in input due liste `a` e `b` e restituisce una terza lista, diciamo `c`, contenente tutti gli elementi che sono sia in `a` che in `b`. La lista `c` non deve avere elementi ripetuti. Dopo aver implementato la funzione se ne calcoli il costo computazionale.

In [1]:
def intersezione( a, b ):
    '''
    Precondizione: a e b sono liste
    Restituisce una nuova lista contenente tutti gli elementi in comune tra a e b, tale lista non elementi
        ripetuti
    '''
    c = []
    for x in a:
        # x va in c se e solo se x è in b e x non è in c
        if x in b and x not in c:  # tempo lineare in |b| + |c| <= 2|b| quindi O(|b|) 
            c.append(x)   # costo costante
            
    return c

In [2]:
a = [2,3,1,4,2,2,1,3,4]
b = [3,7,5,2,1,1,7,6]
c = intersezione(a, b)

In [3]:
print(c)

[2, 3, 1]

# Costo computazionale

In generale se `a` è una lista

    x in a
    
richiede, nel caso peggiore, `|a|` confronti quindi ha un  costo lineare nella lunghezza della lista.

Assumiamo che `|a| = n` e `|b| = m`, il ciclo for viene eseguito `n` volte. Ad ogni iterazione si esegue l'operatore **in** su due liste lunghe al massimo `m`. Il costo dell'operazione **append** è costante, quindi il costo della funzione è `O(nm)`.  Assumendo che `n == m` (caso peggiore) il costo è `O(n**2)`.

L'operatore **in*** può essere sostituito da un ciclo **for**, questo è lo schema della soluzione alternativa

    c = []
    for x in a:
        for y in b:
            if x == y:   
                c.append(x)
                break
                
    # eliminare eventuali doppioni da c
    
Si osservi che in questo caso il costo computazionale è lo stesso della soluzione precendete. L'istruzione **break** termina il ciclo più interno e quindi ha l'effetto di interrompere la ricerca non appena l'elemento viene trovao.

Esempio di  utilizzo del **break**

In [4]:
a = [1, 3, 3, 4, 5, 4, 5, 4]

for x in a:
    if x == 4:
        print('si')
        break

si

# La struttura dati Set

### Creazione

In [5]:
a = { 2,3,1,5 }
b = { 0, 6, 3, 1}
c = set()   # insieme vuoto

In [6]:
print(type(a))
print(a, b, c)

<class 'set'>
{1, 2, 3, 5} {0, 1, 3, 6} set()

Un set può contenere solo elementi di tipo *non mutabile*, quindi sono escluse le liste e i set.

### Inserimento

In [7]:
a.add(4)
b.add('python')
print(a, b)

{1, 2, 3, 4, 5} {0, 1, 3, 6, 'python'}

### Cancellazione

In [8]:
a.remove(3)
print(a)

{1, 2, 4, 5}

### Appartenenza

In [9]:
print(0 in a)
print(6 in b)

False
True

### Unione

In [10]:
u0 = a | b
u1 = a.union(b)

print(u0, u1)

{0, 1, 2, 3, 4, 5, 6, 'python'} {0, 1, 2, 3, 4, 5, 6, 'python'}

### Intersezione

In [11]:
i0 = a & b
i1 = a.intersection(b)

print(i0, i1)

{1} {1}

### Differenza

In [12]:
d0 = a-b
d1 = a.difference(b)

print(d0, d1)

{2, 4, 5} {2, 4, 5}

*unione*, *intersezione* e *differenza* restituiscono un nuovo insieme senza modificare quelli di partenza

In [13]:
print(a, b)

{1, 2, 4, 5} {0, 1, 3, 6, 'python'}

## Costo computazionale delle operazioni su set

Sia `n` un intero e siano `a` e `b` siano due **set** di grandezza `O(n)` allora valgono i seguenti costi nel caso medio:

* `x in a` ha costo `O(1)`, ovvero costante
* `a | b` costa `O(n)`
* `a & b` costa `O(n)`
* `a - b` costa `O(n)`
* `a.add(x)` costa `O(1)`
* `a.remove(x)` costa `O(1)`

Esempio:

In [14]:
a = [2,3,1,4,2,2,1,3,4]
b = [3,7,5,2,1,1,7,6]

a, b = set(a), set(b) # Equivale ad eseguire 2 volte O(n) add
c = a & b   # costo O(n)

c = list(c) # restituisce la lista dal set, costo O(n)

Quindi il costo totale delle operazioni precedenti è `O(n)`